<html>
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MentionBattle</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/styles/main.css" rel="stylesheet">
    <link href="assets/styles/vendor.css" rel="stylesheet">
</head>
<body ng-app="app">
    <div ng-if="$root.loadingState.getState().state === 'loading'" class="loading-main">
        <div class="loading-container loader">
            <div class="loader"></div>
            <div class="message">{{$root.loadingState.getState().error || $root.loadingState.getState().message}}</div>
        </div>
    </div>
    <div ng-if="$root.loadingState.getState().state === 'done'" class="main">
        <navbar></navbar>
        <article class="jumbotron">
            <div class="container">
                <i class="globe"></i>
                <div class="row">
                    <contender number="1" class="col-md-6"></contender>
                    <contender number="2" class="col-md-6"></contender>
                </div>
            </div>
        </article>
    </div>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/templates.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>
